<div class="vendortab-section mb-3">
  <div class="tabs-header">
    <div class="col-md">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" data-toggle="tab" href="#currentVendors" role="tab">Current
            Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#availableVendors" role="tab">Recruit
            Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pendingVendors" role="tab">Pending
            Vendors</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <ng-content select="[content]"></ng-content>
</div>
