<div class="vendortab-section mb-3">
  <div class="tabs-header">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" *ngFor="let tab of tabListDestination; let first = first; let index = index;" [ngClass]="{'active': first}">
        <a *ngIf="tab.hasOwnProperty('href')" class="nav-link" data-toggle="tab" routerLink="{{tab.href}}" role="tab" [ngClass]="{'active': first}">{{ tab.title }}</a>
        <a *ngIf="!tab.hasOwnProperty('href')" class="nav-link" data-toggle="tab" href="#{{tab.alias}}" role="tab" [ngClass]="{'active': first}">{{ tab.title }}</a>
      </li>
    </ul>
  </div>
  <ng-content select="[filter]"></ng-content>
</div>
<div>
  <ng-content select="[content]"></ng-content>
</div>
