<section class="panelManagmentSection">
  <div class="row">
    <div class="col-7">
      <div class="mapMainDiv">
        <app-panel-map></app-panel-map>
      </div>
      <div class="vendorStatisticMainDiv">
        <app-panel-vendor-statistics></app-panel-vendor-statistics>
      </div>
    </div>

    <div class="col-5">
      <div class="panelTabsMenuMainDiv">
        <app-detail-tabs [tabListDestination]="tabListSource">
          <app-panel-tabs-filter filter></app-panel-tabs-filter>
          <router-outlet content></router-outlet>
        </app-detail-tabs>
      </div>
      <app-vendor-detail-slider></app-vendor-detail-slider>
    </div>
  </div>
</section>