<section class="panelManagmentSection">
  <div class="row">
    <div class="col-7">
      <div class="mapMainDiv">
        <app-panel-map></app-panel-map>
      </div>
      <div class="vendorStatisticMainDiv">
        <app-panel-vendor-statistics></app-panel-vendor-statistics>
      </div>
    </div>

    <div class="col-5">
      <div class="panelTabsMenuMainDiv">
        <app-detail-tabs>
          <app-panel-tabs-vendor-detail content></app-panel-tabs-vendor-detail>
        </app-detail-tabs>
      </div>
    </div>
  </div>
</section>
