<section class="html-template-section">
  <div class="row">
    <div class="col-6">
      <h4 class="primary-Color-2 mb-3">Buttons</h4>

      <div class="row">
        <div class="col-md-3">
          <button class="c-btn">Simple Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-border c-btn-small">Border Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-border c-btn-medium">Border Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-border c-btn-large">Border Button</button>
        </div>
      </div>


      <div class="row mt-2">
        <div class="col-md-3">
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-bg c-btn-small">Border Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-bg c-btn-medium">Border Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-bg c-btn-large">Border Button</button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-3">
          <button class="c-btn">Simple Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-border c-btn-small"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-border c-btn-medium"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Button</button>
        </div>

        <div class="col-md-3">
          <button class="c-btn c-btn-bg c-btn-large"> <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Button</button>
        </div>
      </div>

      <hr>

      <h4 class="primary-Color-2 mb-3">Headings</h4>
      <div class="row">
        <div class="col-12">
          <h1 class="primary-Color-2">Heading 1</h1>
        </div>

        <div class="col-12">
          <h2 class="primary-Color-2">Heading 2</h2>
        </div>

        <div class="col-12">
          <h3 class="primary-Color-2">Heading 3</h3>
        </div>

        <div class="col-12">
          <h4 class="primary-Color-2">Heading 4</h4>
        </div>

        <div class="col-12">
          <h5 class="primary-Color-2">Heading 5</h5>
        </div>

        <div class="col-12">
          <h6 class="primary-Color-2">Heading 6</h6>
        </div>
      </div>
      <hr>


    </div>


    <div class="col-6">
      <h4 class="primary-Color-2 mb-3">Color Pallet</h4>
      <div class="row color-row">
        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-1 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-1">Color 1</span>
        </div>

        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-2 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-2">Color 2</span>
        </div>

        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-3 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-3">Color 3</span>
        </div>

        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-4 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-4">Color 4</span>
        </div>

        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-5 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-5">Color 5</span>
        </div>

        <div class="col-md-2 text-center">
          <i class="primary-bgcolor-6 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-6">Color 6</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="primary-bgcolor-7 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular primary-color-7">Color 7</span>
        </div>


        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-1 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-1">Color 8</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-2 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-2">Color 9</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-3 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-3">Color 10</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-4 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-4">Color 11</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-5 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-5">Color 12</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-6 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-6">Color 13</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-7 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-7">Color 14</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="shade-bgcolor-8 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular shade-color-8">Color 15</span>
        </div>


        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-1 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-1">Color 16</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-2 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-2">Color 17</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-3 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-3">Color 18</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-4 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-4">Color 19</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-5 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-5">Color 20</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-6 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-6">Color 21</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-logo-bgcolor-7 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-logo-color-7">Color 22</span>
        </div>


        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-1 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-1">Color 23</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-2 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-2">Color 24</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-3 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-3">Color 25</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-4 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-4">Color 26</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-5 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-5">Color 27</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-6 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-6">Color 28</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-7 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-7">Color 29</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-8 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-8">Color 30</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-9 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-9">Color 31</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-10 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-10">Color 32</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-11 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-11">Color 33</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-12 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-12">Color 34</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-13 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-13">Color 35</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-14 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-14">Color 36</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-15 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-15">Color 37</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-16 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-16">Color 38</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-17 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-17">Color 39</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-18 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-18">Color 40</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-19 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-19">Color 41</span>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <i class="omnival-ascent-bgcolor-20 d-block" aria-hidden="true"></i>
          <span class="sub-title-regular omnival-ascent-color-20">Color 42</span>
        </div>
      </div>
    </div>


  </div>
</section>
