<section class="loginSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-xl-3 pl-0 pr-0">
        <div class="bgLeftSide">
          <div class="logoImgBox">
            <img src="../../../../../assets/images/logoSvg.svg" class="img-fluid" alt="">
          </div>


          <div class="midContentDiv">
            <h4>What is Omnival</h4>

            <p class="sub-title-regular">
              OmniVal is a one stop platform where the clients would be able to meet their desired vendors for all Real
              Estate related evaluations in suitable time and prices.
            </p>

            <button class="c-btn c-btn-border c-btn-large">Get Started!</button>
          </div>

          <div class="bottomContentDiv">
            <p>TRUSTED BY THE WORLD’S SMARTEST COMPANIES</p>
            <ul>
              <li><img src="../../../../../assets/images/Rectangle 313.png" class="img-fluid" alt=""></li>
              <li><img src="../../../../../assets/images/Rectangle 314.png" class="img-fluid" alt=""></li>
              <li><img src="../../../../../assets/images/Rectangle 315.png" class="img-fluid" alt=""></li>
              <li><img src="../../../../../assets/images/Rectangle 316.png" class="img-fluid" alt=""></li>
              <li><img src="../../../../../assets/images/Rectangle 317.png" class="img-fluid" alt=""></li>
              <li><img src="../../../../../assets/images/Rectangle 318.png" class="img-fluid" alt=""></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-9 col-xl-9 pl-0 pr-0">
        <div class="rightLoginDev">

          <p class="mb-0 sub-title-regular primary-color-4">Don’t have an account? <a href=""
              class="primary-color-2 sub-title-medium">Sign Up</a></p>

          <div class="loginFormDiv">




            <span class="caption mb-3 d-inline-block">Client</span>
            <h4 class="primary-color-1 mb-2">Sign in to Omnival</h4>
            <h6 class="primary-color-4 mb-4">Enter your details below</h6>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-row">


                <div class="col-md-12 mb-3 noPadding">

                  <mat-form-field class="d-block position-relative">
                    <mat-icon matPrefix><img src="../../../../../assets/images/mat-icons/user-icon.svg" alt="">
                    </mat-icon>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required />
                    <mat-error *ngIf="!loginForm.controls['username'].valid">
                      <img src="../../../../../assets/images/mat-icons/exclamation-circle.svg" class="img-error-img"
                        alt=""> Username is required
                    </mat-error>
                    <img src="../../../../../assets/images/mat-icons/icon-action-check.svg" class="verify-field-icon"
                      *ngIf="loginForm.controls['username'].valid" alt="">
                  </mat-form-field>
                </div>

                <div class="col-md-12 noPadding">
                  <mat-form-field class="d-block position-relative">
                    <mat-icon matPrefix><img src="../../../../../assets/images/mat-icons/icon-indicator.svg" alt="">
                    </mat-icon>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-error *ngIf="!loginForm.controls['password'].valid"><img
                        src="../../../../../assets/images/mat-icons/exclamation-circle.svg" class="img-error-img"
                        alt=""> Password is required
                    </mat-error>
                    <button class="c-btn" type="button" mat-icon-button matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <i class="fa fa-eye input-icon" *ngIf="!hide" aria-hidden="true"></i>

                      <i class="fa fa-eye-slash input-icon" *ngIf="hide" aria-hidden="true"></i>

                    </button>
                  </mat-form-field>
                </div>

                <div class="col-md-12 mb-4">
                  <a href="" class="linkButton-without-line">Forgot your password?</a>
                </div>

              </div>


              <div class="leftSubmitButon mt-4">
                <button class="c-btn c-btn-bg c-btn-large" type="submit" [disabled]="this.loginForm.invalid || showLoader">
                  <div class="spinner-border spinner-custom-style" *ngIf="showLoader" role="status">
                  </div>
                  Sign In
                

                </button>
              </div>
              <div *ngIf="errorMessage" class="alert alertboxCss alert-danger">{{errorMessage}}</div>

              <div class="form-row">
                <!-- <div class="col-md-6 col-sm-6 col-6">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing"><span>Remember
                        me</span></label>
                  </div>
                </div> -->
                <!-- <div class="col-md-12 col-sm-12 col-12">
                  <div class="forgotPas">
                    <a href="javascript:void(0);" (click)="openModalWithClass(template)">Forgot Password?</a>
                  </div>
                </div> -->
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
